@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Niramit:300,400,500,600,700|Reem+Kufi|Telex|Varela+Round&display=swap");
/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Telex', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Niramit', sans-serif; */

$white: #f5f5e4;
$grey: #e7e7e7;
$blue: #343a56;
$dark: #151824;
$light-blue: #54668e;
$danger: #ff4545;
$success: #d7ff96;
$max-width: 1100px;

//Media Query Mixins
@mixin mediaXSm {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
//set-text-color function detects the lightness
//if lightness is less greater than 70 return inverse
@function set-text-color($color) {
  @if (lightness($color) >70) {
    @return $dark;
  } @else {
    @return $white;
  }
}
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // All around Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
