@import "config";
@import "utilities";
* {
  font-family: "Niramit", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: arial;
  background-color: $white;
  font-size: 14px;
  line-height: 1.6;
  color: $blue;
}

ul {
  list-style: none;
}
img {
  margin-bottom: -4px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: $blue;
  border-bottom: solid 1px $blue;
  /* opacity: 0.9; */
  ul {
    display: flex;
  }
  a {
    text-decoration: none;
    color: $white;
    padding: 10px;
    margin: 0 5px;
    &:hover {
      color: $blue;
    }
  }
}

.landing {
  position: relative;
  background: url(../icons/run3.jpg) no-repeat center/cover;
  height: 100vh;

  &-inner {
    color: $white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .landing-about {
    max-width: 200px;
    font-weight: 200;
    color: $dark;
    margin-bottom: 50px;
  }
}
.fit-mid {
  width: 150px;
  margin-bottom: 50px;
}
.container {
  margin-top: 50px;
}
