@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Niramit:300,400,500,600,700|Reem+Kufi|Telex|Varela+Round&display=swap");
/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Telex', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Niramit', sans-serif; */
/*   All round margin */
.m-space {
  margin: space rem; }

/*   Verticle margin */
.my-space {
  margin: space rem 0; }

/* All round padding */
.p-space {
  padding: space rem; }

/*   Verticle padding */
.py-space {
  padding: space rem 0; }

/*   All round margin */
.m-space {
  margin: space rem; }

/*   Verticle margin */
.my-space {
  margin: space rem 0; }

/* All round padding */
.p-space {
  padding: space rem; }

/*   Verticle padding */
.py-space {
  padding: space rem 0; }

/*   All round margin */
.m-space {
  margin: space rem; }

/*   Verticle margin */
.my-space {
  margin: space rem 0; }

/* All round padding */
.p-space {
  padding: space rem; }

/*   Verticle padding */
.py-space {
  padding: space rem 0; }

/*   All round margin */
.m-space {
  margin: space rem; }

/*   Verticle margin */
.my-space {
  margin: space rem 0; }

/* All round padding */
.p-space {
  padding: space rem; }

/*   Verticle padding */
.py-space {
  padding: space rem 0; }

/*   All round margin */
.m-space {
  margin: space rem; }

/*   Verticle margin */
.my-space {
  margin: space rem 0; }

/* All round padding */
.p-space {
  padding: space rem; }

/*   Verticle padding */
.py-space {
  padding: space rem 0; }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem; }

.bg-primary {
  background-color: #343a56;
  color: #f5f5e4; }

.bg-light {
  background-color: #e7e7e7;
  color: #151824; }

.bg-dark {
  background-color: #151824;
  color: #f5f5e4; }

.bg-success {
  background-color: #647e38;
  color: #f5f5e4; }

.bg-danger {
  background-color: #770c0c;
  color: #f5f5e4; }

.bg-white {
  background-color: #f5f5e4;
  color: #151824; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.text-primary {
  color: #343a56; }

.btn {
  text-decoration: none;
  display: inline-block;
  background: #54668e;
  color: #f5f5e4;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in; }
  .btn.btn-light {
    background-color: #54668e;
    color: #f5f5e4; }
    .btn.btn-light:hover {
      background: #282d44; }

.x-large {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(245, 245, 228, 0.7); }

.form-group {
  margin: 1.2rem 0; }

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #151824; }

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 7px;
  font-size: 1.2rem;
  border: 1px solid #151824; }

* {
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: arial;
  background-color: #f5f5e4;
  font-size: 14px;
  line-height: 1.6;
  color: #343a56; }

ul {
  list-style: none; }

img {
  margin-bottom: -4px; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #343a56;
  border-bottom: solid 1px #343a56;
  /* opacity: 0.9; */ }
  .navbar ul {
    display: flex; }
  .navbar a {
    text-decoration: none;
    color: #f5f5e4;
    padding: 10px;
    margin: 0 5px; }
    .navbar a:hover {
      color: #343a56; }

.landing {
  position: relative;
  background: url(../icons/run3.jpg) no-repeat center/cover;
  height: 100vh; }
  .landing-inner {
    color: #f5f5e4;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .landing .landing-about {
    max-width: 200px;
    font-weight: 200;
    color: #151824;
    margin-bottom: 50px; }

.fit-mid {
  width: 150px;
  margin-bottom: 50px; }

.container {
  margin-top: 80px; }
